<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Profile</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-7">
                        <img class="card-img-top" src="https://dummyimage.com/600x400/343a40/6c757d"
                            alt="Card image">
                    </div>
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="h2 fw-bolder">{{ user.nom }} {{ user.prenom }}</div>
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{ user.email }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>